{{ header }}

<main class="container">
  {{ breadcrumbs }}
  <h1 class="register-success__title">Вітаємо! Особистий кабінет успішно створений.</h1>

  <p class="register-success__content">
    Тепер Ви можете ознайомитися з додатковими варіантами:
    перегляд історії замовлень, друк рахунку, зміна своєї контактної інформації
    і адрес доставки і багато іншого.
  </p>

  <a class="register-success__link" href="{{ linkAccount }}">Особистий кабінет</a>

  {{ sliderIncome }}
</main>

{{ footer }}
