<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}"/>

    <link type="image/png" sizes="16x16" rel="icon" href="/favicon-16x16.png" />
    <link type="image/png" sizes="32x32" rel="icon" href="/favicon-32x32.png" />
    <link type="image/png" sizes="96x96" rel="icon" href="/favicon-96x96.png" />
    <link type="image/png" sizes="120x120" rel="icon" href="/favicon-120x120.png" />
    <link sizes="180x180" rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" />
    <link color="#303131" rel="mask-icon" href="/safari-pinned-tab.svg" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#ffffff" />

    {% if description %}
      <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
      <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    {% for meta in metaList %}
      <meta
      {% for attr, value in meta %}
        {{ attr }}="{{ value }}"
      {% endfor %}
      />
    {% endfor %}

     {% if microdata %}
      <script type="application/ld+json">{{ microdata }}</script>
    {% endif %}

     {% if dataLayer %}
      <script>{{ dataLayer }}</script>
    {% endif %}

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TJRVXND');
    </script>
    <!-- End Google Tag Manager -->

    {% for link in links %}
      <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}

    <style>
      .body-site-loader {
        overflow: hidden;
      }

      .site-loader {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        z-index: 999999;
      }

      .site-loader__video {
        max-width: 256px;
      }
    </style>
  </head>

  <body class="wrapper-site-loader">

    <div id="siteLoader" class="site-loader">
      <video class="site-loader__video" autoplay loop muted playsinline>
        <source src="/catalog/view/theme/default/video/site-loader.webm" type="video/webm">
        <source src="/catalog/view/theme/default/video/site-loader.mp4" type="video/mp4">
      </video>
    </div>

    <div class="wrapper-preloader">
      <div class="preloader">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TJRVXND"
        height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script src="/catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>

    <div class="top-header">
      <nav id="top" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#top-header"
                aria-expanded="false"
                aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="currency-container">
              Курс: <b>${{ rate }}</b>грн.
            </div>
          </div>
          <div id="top-header" class="navbar-collapse collapse">
            {{ headerMenu }}
          </div>
          <div class="nav navbar-nav navbar-right">
            <div class="myaccount account-menu">
              <img src="/ego/assets/img/icon-user.png" alt="icon-user">
              {% if isLogged %}
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ customerName }}
                  </a>

                  <ul class="dropdown-menu">
                    <li><span class="account-menu-item-balance">Баланс: ${{ balance }}</span></li>
                    <li><a class="account-menu-item account-menu-item--documents" href="{{ accountDocuments }}">Документы</a></li>
                    <li><a class="account-menu-item account-menu-item--orders" href="{{ accountOrders }}">Заказы</a></li>
                    <li><a class="account-menu-item account-menu-item--profile" href="{{ accountProfile }}">Персональные данные</a></li>
                    <li><a class="account-menu-item account-menu-item--terms" href="{{ accountTerms }}">Условия продаж</a></li>
                    <li><a class="account-menu-item-exit" href="{{ logout }}">Выход</a></li>
                  </ul>
                </div>
              {% else %}
                <a href="{{ login }}">Войти</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>

    <header id="header">
      <div class="container">
        <div id="logo">
          <a href="{{ home }}">
            <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
          </a>
        </div>

        <div class="search-container">
          {{ search }}
        </div>

        {{ cart }}
      </div>
    </header>

    {{ headerCategory }}

