{{ header }}

<link rel="stylesheet" href="/catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.css" />
<link rel="stylesheet" href="/catalog/view/javascript/jquery/owl-carousel/owl.theme.default.min.css" />

<style>
  .product-tab {
    margin-top: 20px;
  }

  .tab-content.tab-content {
    display: block;
  }

 .page-title--home.page-title--home {
   margin-bottom: 0;
 }
</style>

<div class="container">
  <div class="product-tab">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab-product-new" data-toggle="tab">Новинки</a>
      </li>
      <li>
        <a href="#tab-product-stocks" data-toggle="tab">Акции</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab-product-new">
        {{ productNew }}
      </div>
      <div class="tab-pane" id="tab-product-stocks">
        {{ productStocks }}
      </div>
    </div>
  </div>

  {{ news }}

  <h1 class="page-title page-title--home">{{ headingH1 }}</h1>
</div>

<script src="/catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js" defer></script>

{{ footer }}
