<div class="header-bottom container">
  <button id="btnMobileMenu" class="btn-mobile-menu">
    <svg class="btn-mobile-menu__img btn-mobile-menu__img--open">
      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-mobile-menu"></use>
    </svg>

    <svg class="btn-mobile-menu__img btn-mobile-menu__img--close">
      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-close"></use>
    </svg>
  </button>

  <img class="header-logo" src="/image/logo.png" alt="Логотип">

  <button id="btnHeaderMenu" class="btn-header-menu">
    <svg class="btn-header-menu__img">
      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-menu"></use>
    </svg>
    Каталог продукції
  </button>

  {{ headerSearch }}

  {% if isLogged %}
    <a class="btn-header-action btn-header-action--favorites" href="{{ linkAccountFavorites }}">
      <svg class="btn-header-action__img">
        <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-heart"></use>
      </svg>
    </a>
  {% else %}
    <button class="btn-header-action btn-header-action--favorites" id="headerFavorites">
      <svg class="btn-header-action__img">
        <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-heart"></use>
      </svg>
    </button>
  {% endif %}

  {% if isLogged %}
    <a class="btn-header-action btn-header-action--user" href="{{ linkAccount }}">
      <svg class="btn-header-action__img">
        <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-user"></use>
      </svg>

      <svg class="btn-header-action__counter btn-header-action__counter--user">
        <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-check"></use>
      </svg>
    </a>
  {% else %}
    <button class="btn-header-action btn-header-action--user" id="headerLogin">
      <svg class="btn-header-action__img">
        <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-user"></use>
      </svg>
    </button>
  {% endif %}

  {% if not isHideCart %}
    <button class="btn-header-action btn-header-action--cart" id="headerCart">
      <svg class="btn-header-action__img">
        <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-cart"></use>
      </svg>
      <span
        class="btn-header-action__counter {{ cartCount ? '' : 'btn-header-action__counter--hidden' }}"
        id="headerCartCounter"
      >
        {{ cartCount }}
      </span>
    </button>
  {% endif %}
</div>
