

<link rel="stylesheet" href="catalog/view/theme/{{ mytemplate }}/stylesheet/egofoxlab/module-news.css" />

<div
		id="slideshow-product-new-news"
		class="module-ego-news"
>
	<div class="carousel-wrap">
		<div class="nav prev"></div>
		<div class="nav next"></div>
		<div class="owl-carousel content">
			{% for item in postList %}
				<div class="post-item">
					<a href="{{ item.url }}">
						<div
								class="preview-image"
								style="background-image: url({{ item.preview_image }})"
						>
							<div class="description">
								{{ item.title }}
							</div>
						</div>
						<div class="date">
							{{ item.date }}
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<script>
window.addEventListener('load', () => {
	const elementRef = jQuery('#slideshow-product-new-news');
	const owl = elementRef.find('.content').owlCarousel({
		items: 4,
		loop: true,
		dots: true,
		responsive: {
			0: { items: 1 },
			768: { items: 2 },
			1024: { items: 4 }
		}
	});

	elementRef.find('.nav.prev').click(() => owl.trigger('prev.owl.carousel'));
	elementRef.find('.nav.next').click(() => owl.trigger('next.owl.carousel'));
});
</script>