<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/egofoxlab/module-product-stocks.css" />

<div
		id="slideshow-product-stocks"
		class="module-ego-product-stocks"
>
	<div class="carousel-wrap">
		<div class="nav prev"></div>
		<div class="nav next"></div>
		<div class="owl-carousel content">
			{% for product in productList %}
				<div class="c-item">
					<a
							href="{{ product.link }}"
							class="wrap"
					>
						{#Image#}
						<div class="image">
							<div style="
							{% if product.image is not empty %}
									background-image: url('{{ product.image }}');
							{% endif %}
									"
							></div>
						</div>

						{#Code#}
						<div class="code">
							Код: {{ product.sku }}
						</div>

						{#Name#}
						<div class="name">
							{{ product.name }}
						</div>

						{#Price#}
						<div class="prices">
							{#Main price#}
							<div class="main">
								{% if product.special > 0 %}
									<span class="special">
										<span class="new">
											{{ product.special }}
										</span>
										<span class="old">
											{{ product.price }}
										</span>
									</span>
								{% else %}
									<span class="special">
										{{ product.price }}
									</span>
								{% endif %}
							</div>
						</div>

						{#Stocks#}
						<div class="stocks">
							<div class="availability">
								Наличие на складах
							</div>
							{% if product.productCount > 0 and product.productCount <= 2 %}
								<div
										class="product-ends"
										data-toggle="tooltip"
										data-placement="bottom"
										title="Товар заканчивается"
								>
									<span>!</span>
								</div>
							{% endif %}
							{% for stock in product.stockList %}
								<div class="s-item">
									<div class="name">
										{{ stock.name }}
									</div>
									<div class="quantity">
										{{ stock.quantity }} шт.
									</div>
								</div>
							{% endfor %}
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<script>
window.addEventListener('load', () => {
	const elementRef = jQuery('#slideshow-product-stocks');
	const owl = elementRef.find('.content').owlCarousel({
		items: 4,
		loop: true,
		dots: true,
		responsive: {
			0: { items: 1 },
			768: { items: 2 },
			1024: { items: 4 }
		}
	});

	elementRef.find('.nav.prev').click(() => owl.trigger('prev.owl.carousel'));
	elementRef.find('.nav.next').click(() => owl.trigger('next.owl.carousel'));
});
</script>
