<nav class="nav-catalog">
  {% if categories %}
    <ul class="nav-catalog__list nav-catalog__list--main">
      {% for child1 in categories %}
        <li class="nav-catalog__item nav-catalog__item--main">
          <a class="nav-catalog__link {{ child1.children ? 'nav-catalog__link--has-children' : '' }}" href="{{ child1.link }}">
            <svg class="nav-catalog__link-img">
              <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-{{ child1.icon }}"></use>
            </svg>
            {{ child1.name }}

            {% if child1.children %}
              <svg class="nav-catalog__link-img nav-catalog__link-img--arrow">
                <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-arrow-right"></use>
              </svg>
            {% endif %}
          </a>

          {% if child1.children %}
            <ul class="nav-catalog__list nav-catalog__list--child">
              <li class="nav-catalog__item nav-catalog__item--child nav-catalog__item--parent">
                <a class="nav-catalog__link" href="{{ child1.link }}">Все в {{ child1.name }}</a>
              </li>

              {% for child2 in child1.children %}
                  <li class="nav-catalog__item nav-catalog__item--child">
                    <a class="nav-catalog__link {{ child2.children ? 'nav-catalog__link--has-children' : '' }}" href="{{ child2.link }}">
                      {{ child2.name }}

                      {% if child2.children %}
                        <svg class="nav-catalog__link-img nav-catalog__link-img--arrow">
                          <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-arrow-right"></use>
                        </svg>
                      {% endif %}
                    </a>

                    {% if child2.children %}
                       <ul class="nav-catalog__list nav-catalog__list--child nav-catalog__list--child-2">
                        <li class="nav-catalog__item nav-catalog__item--child nav-catalog__item--parent">
                          <a class="nav-catalog__link" href="{{ child2.link }}"> Все в {{ child2.name }}</a>
                        </li>

                        {% for child3 in child2.children %}
                          <li class="nav-catalog__item nav-catalog__item--child">
                            <a class="nav-catalog__link" href="{{ child3.link }}">{{ child3.name }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>
