{{ header }}

<link rel="stylesheet" href="/catalog/view/theme/default/stylesheet/megnor/datatables.min.css?1.10.22"/>
<link rel="stylesheet" href="/catalog/view/theme/default/js/libs/pikaday/pikaday.min.css?1.8.2"/>
<link rel="stylesheet" href="/catalog/view/theme/default/stylesheet/account/account.min.css?20201211">

<div id="account-account" class="container">
  <div class="wrapper-breadcrumbs">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
          </svg>
        </a>
      </li>

      <li class="breadcrumbs__item">
        {{ headingH1 }}
      </li>
    </ul>
  </div>

  <h1 class="page-title">{{ headingH1 }}</h1>

  <div class="row">
    <ul
        id="ego-tab"
        class="nav nav-tabs"
        role="tablist"
    >
      <li class="nav-item active">
        <a
            id="tab-documents"
            class="nav-link"
            data-toggle="tab"
            href="#tab-content-balance"
            role="tab"
        >
          Документы
        </a>
        <div
            class="info-tip"
            data-toggle="tooltip"
            data-placement="bottom"
            title=""
            data-original-title="В даной вкладке вы можете просматривать историю взаиморасчетов, а также ваш личный баланс на сайте."
        >
          <span>ⓘ</span>
        </div>
      </li>
      <li class="nav-item">
        <a
            id="tab-orders"
            class="nav-link"
            data-toggle="tab"
            href="#tab-content-purchases-history"
            role="tab"
        >
          Заказы
        </a>
        <div
            class="info-tip"
            data-toggle="tooltip"
            data-placement="bottom"
            title=""
            data-original-title="В этой вкладке вы можете просматривать историю своих заказов и всю
              информацию о каждом из заказов, сформировать exel-файл по заказу, а
              также отслеживать отправление прямо на сайте!"
        >
          <span>ⓘ</span>
        </div>
      </li>
      <li class="nav-item">
        <a
            id="tab-profile"
            class="nav-link active"
            data-toggle="tab"
            href="#tab-content-profile"
            role="tab"
        >
          Персональные данные
        </a>
        <div
            class="info-tip"
            data-toggle="tooltip"
            data-placement="bottom"
            title=""
            data-original-title="Здесь вы можете изменить свои персональные данные, такие как имя,
              фамилия, е-мейл и физический адрес, а также пароль и отделение Новой Почты."
        >
          <span>ⓘ</span>
        </div>
      </li>
      <li class="nav-item">
        <a
            id="tab-terms"
            class="nav-link active"
            data-toggle="tab"
            href="#tab-content-terms"
            role="tab"
        >
          Условия продаж
        </a>
        <div
            class="info-tip"
            data-toggle="tooltip"
            data-placement="bottom"
            title=""
            data-original-title=""
        >
          <span>ⓘ</span>
        </div>
      </li>
    </ul>
    <div
        class="tab-content"
        id="ego-tab-content"
    >

      {#Balance#}
      <div
          id="tab-content-balance"
          class="tab-pane active"
          role="tabpanel"
          aria-labelledby="home-tab"
      >
        <div class="row">
          <div class="col-sm-12 col-md-3 form-group">
            <label>
              Дата с:
            </label>
            <input
              id="balance-date-from"
              class="form-control"
              value="{{ balanceDateFrom }}"
              readonly
            />
          </div>
          <div class="col-sm-12 col-md-3 form-group">
            <label>
              Дата по:
            </label>
            <input
              id="balance-date-to"
              class="form-control"
              value="{{ balanceDateTo }}"
              readonly
            >
          </div>
        </div>

        <table id="order-balance-table" class="table">
          <thead>
            <tr>
              <th>Документ/Движения</th>
              <th>Сумма документа</th>
              <th>Сумма/Баланс</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      {#Profile#}
      <div
        id="tab-content-profile"
        class="tab-pane"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <form id='formProfileSave'>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <label for="firstName" class="control-label">
                  * Имя
                </label>
              </div>
              <div class="col-sm-10">
                <input
                  id="firstName"
                  class="form-control restrict-language"
                  value="{{ customer.firstName }}"
                  placeholder="Иванов"
                  required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <label for="lastName" class="control-label">
                  * Фамилия
                </label>
              </div>
              <div class="col-sm-10">
                <input
                  id="lastName"
                  class="form-control restrict-language"
                  value="{{ customer.lastName }}"
                  placeholder="Иван"
                  required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <label for="phone" class="control-label">
                  * Телефон
                </label>
              </div>
              <div class="col-sm-10">
                <input
                  id="phone"
                  class="form-control"
                  value="{{ customer.phone }}"
                  required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <label for="email" class="control-label">
                  * Email
                </label>
              </div>
              <div class="col-sm-10">
                <input
                  id="email"
                  class="form-control"
                  value="{{ customer.email }}"
                  placeholder="user@example.com"
                  required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <label for="password" class="control-label">
                  * Пароль
                </label>
              </div>
              <div class="col-sm-10">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  minlength="4"
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <label for="npRegion" class="control-label">
                  * Область
                </label>
              </div>
              <div class="col-sm-10">
                <select name="ego-form-field-region" class="select" id="npRegion" data-selected-value="{{ customer.region }}">
                  <option value="" disabled selected>-- Выберите значение --</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <label for="npCity" class="control-label">
                  * Город
                </label>
              </div>
              <div class="col-sm-10">
                <select name="ego-form-field-city" class="select" id="npCity" data-selected-value="{{ customer.city }}">
                  <option value="" disabled selected>-- Выберите значение --</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-2">
                <label for="npWarehouse" class="control-label">
                  * Отделение
                </label>
              </div>
              <div class="col-sm-10">
                <select name="ego-form-field-warehouse" class="select" id="npWarehouse" data-selected-value="{{ customer.warehouse }}">
                  <option value="" disabled selected>-- Выберите значение --</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="wrapper-btn">
              <button class="btn-new btn-new--success btn-new--inline">
                <span class="btn-new__wrapper-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM272 80v80H144V80h128zm122 352H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h42v104c0 13.255 10.745 24 24 24h176c13.255 0 24-10.745 24-24V83.882l78.243 78.243a6 6 0 0 1 1.757 4.243V426a6 6 0 0 1-6 6zM224 232c-48.523 0-88 39.477-88 88s39.477 88 88 88 88-39.477 88-88-39.477-88-88-88zm0 128c-22.056 0-40-17.944-40-40s17.944-40 40-40 40 17.944 40 40-17.944 40-40 40z"/>
                  </svg>
                </span>
                <span class="btn-new__wrapper-text">
                  Сохранить
                </span>
              </button>
            </div>
          </div>

        </form>
      </div>

      {#Purchases history#}
      <div
          id="tab-content-purchases-history"
          class="tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
      >
        <table
          id="orderHistoryTable"
          class="order-history-table"
        >
          <thead>
            <tr class="order-history-table__row-desktop-show">
              <th>Номер заказа</th>
              <th>Дата</th>
              <th>Статус</th>
              <th>Способ оплаты</th>
              <th>Тип доставки</th>
              <th>Контрагент</th>
              <th>ТТН</th>
              <th>Склад отправки</th>
              <th>Отслеживание</th>
              <th>Сумма</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in products %}
              <tr
                data-url="{{ item.link }}"
                class="order-history-table__row-desktop-show"
              >
                <td>{{ item.orderId }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.orderStatusName }}</td>
                <td>{{ item.paymentMethod }}</td>
                <td>{{ item.shippingMethod }}</td>
                <td>{{ item.shippingFullName }}</td>
                <td>{{ item.ttn }}</td>
                <td>{{ item.storeName }}</td>
                <td class="order-history-table__cell-desktop-ttn-status">
                  {{ item.ttnStatus }}
                </td>
                <td>{{ item.totalUAH }}&nbsp;грн.<br>${{ item.totalUSD }}</td>
                <td>
                  <a href="{{ item.linkDownload }}" class="order-receipt-download" download>
                    <img src="/ego/assets/img/download.png" />
                  </a>
                </td>
                <td>
                  <a href="{{ item.link }}" class="open">
                    <img src="/ego/assets/img/icon-search.png" width="20" />
                  </a>
                </td>
              </tr>
              <tr class="order-history-table__row-mobile-show">
                <td>
                  <details class="order-history-table__mobile-accordion">
                    <summary class="order-history-table__mobile-toggle">
                      <ul class = "order-history-table__mobile-list-wrapper">
                        <li class="order-history-table__mobile-list-item">
                          <div class="order-history-table__mobile-list-item-title">Номер заказа</div>
                          <div>{{ item.orderId }}</div>
                        </li>
                        <li class="order-history-table__mobile-list-item">
                          <div class="order-history-table__mobile-list-item-title">Дата</div>
                          <div>{{ item.date }}</div>
                        </li>
                        <li class="order-history-table__mobile-list-item">
                          <div class="order-history-table__mobile-list-item-title">Статус</div>
                          <div>{{ item.orderStatusName }}</div>
                        </li>
                        <li class="order-history-table__mobile-list-item">
                          <div class="order-history-table__mobile-list-item-title">Тип доставки</div>
                          <div>{{ item.shippingMethod }}</div>
                        </li>
                        <li class="order-history-table__mobile-list-item">
                          <div class="order-history-table__mobile-list-item-title">Сумма</div>
                          <div>{{ item.totalUAH }}&nbsp;грн. (${{ item.totalUSD }})</div>
                        </li>
                      </ul>
                    </summary>

                    <ul class = "order-history-table__mobile-list-wrapper order-history-table__mobile-list-wrapper--content">
                      <li class="order-history-table__mobile-list-item">
                        <div class="order-history-table__mobile-list-item-title">Способ оплаты</div>
                        <div>{{ item.paymentMethod }}</div>
                      </li>
                      <li class="order-history-table__mobile-list-item">
                        <div class="order-history-table__mobile-list-item-title">Контрагент</div>
                        <div>{{ item.shippingFullName }}</div>
                      </li>
                      <li class="order-history-table__mobile-list-item">
                        <div class="order-history-table__mobile-list-item-title">ТТН</div>
                        <div>{{ item.ttn }}</div>
                      </li>
                      <li class="order-history-table__mobile-list-item">
                        <div class="order-history-table__mobile-list-item-title">Склад отправки</div>
                        <div>{{ item.storeName }}</div>
                      </li>
                      <li class="order-history-table__mobile-list-item">
                        <div class="order-history-table__mobile-list-item-title">Отслеживание</div>
                        <div>{{ item.ttnStatus }}</div>
                      </li>
                      <li class="order-history-table__mobile-list-item--button">
                        <a href="{{ item.linkDownload }}" class="btn-new btn-new--success" download>
                          <span class="btn-new__wrapper-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <path d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/>
                            </svg>
                          </span>
                          <span class="btn-new__wrapper-text">
                            Скачать
                          </span>
                        </a>
                      </li>
                      <li class="order-history-table__mobile-list-item">
                        <a
                          class="btn-new btn-new--success"
                          href="{{ item.link }}"
                        >
                          <span class="btn-new__wrapper-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                              <path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"/>
                            </svg>
                          </span>
                          <span class="btn-new__wrapper-text">
                            Информация
                          </span>
                        </a>
                      </li>
                    </ul>
                  </details>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {#Terms#}
      <div
        id="tab-content-terms"
        class="tab-pane"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div>{{ terms_of_sale }}</div>

        <table class="account-table-terms">
          <tbody>
            <tr>
              <td class="account-table-terms__cell-title">Тип цены:</td>
              <td class="account-table-terms__cell-value">{{ customer.typePrice }}</td>
            </tr>
            <tr>
              <td class="account-table-terms__cell-title">Кредитный лимит:</td>
              <td class="account-table-terms__cell-value">${{ customer.creditLimit }}</td>
            </tr>
            <tr>
              <td class="account-table-terms__cell-title">Отсрочка оплаты:</td>
              <td class="account-table-terms__cell-value">{{ customer.paymentDelay }}</td>
            </tr>
            <tr>
              <td class="account-table-terms__cell-title">Персональний менеджер:</td>
              <td class="account-table-terms__cell-value">{{ customer.managerFullName }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="row logout">
    <a href="{{ linkLogout }}">Выйти</a>
  </div>
</div>


<script src="/catalog/view/theme/default/libs/jquery.min.js"></script>

<script src="/catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<script src="/ego/assets/js/egofoxlab/utils.js?20201113"></script>
<script src="/ego/assets/js/egofoxlab/base.component.js"></script>

<script src="/catalog/view/theme/default/js/libs/pikaday/pikaday.min.js?1.8.2"></script>
<script src="/catalog/view/javascript/megnor/datatables.min.js?1.10.22"></script>
<script src="/catalog/view/theme/default/js/libs/vanillaTextMask.js"></script>
<script src="/catalog/view/theme/default/js/novaposhta.min.js?20201114"></script>
<script src="/catalog/view/theme/default/js/account/account.min.js?20210216"></script>

{{ footer }}
