{{ header }}

<link rel="stylesheet" href="/catalog/view/theme/default/stylesheet/egofoxlab/account-login.css" />

<div class="container">
  {% if success %}
    <div class="alert alert-success alert-dismissible">
      <i class="fa fa-check-circle"></i> {{ success }}
    </div>
  {% endif %}

  {% if error_warning %}
		<div class="alert alert-danger alert-dismissible">
			<i class="fa fa-exclamation-circle"></i>
			{{ error_warning }}
		</div>
	{% endif %}

	<div class="row">
		<div
				id="content"
				style="float: none;"
		>
			<div class="row content-container">
				<div class="well">
					<h3>Войти в Личный Кабинет</h3>
					<p>
						<strong>Войти в Личный Кабинет</strong>
					</p>
					<form
							action="{{ action }}"
							method="post"
							enctype="multipart/form-data"
					>
						<div class="form-group">
							<label
									class="control-label"
									for="input-email"
							>
								E-Mail
							</label>
							<input
									type="text"
									name="email"
									value="{{ email }}"
									placeholder="E-Mail"
									id="input-email"
									class="form-control"
							/>
						</div>
						<div class="form-group">
							<label
									class="control-label"
									for="input-password"
							>
								Пароль
							</label>
							<input
									type="password"
									name="password"
									value="{{ password }}"
									placeholder="Пароль"
									id="input-password"
									class="form-control"
							/>
							<div class="forgotten-password">
								<a href="{{ forgotten }}">
									Забыли пароль?
								</a>
							</div>
						</div>
						<input
								type="submit"
								value="Войти"
								class="btn btn-primary"
						/>
						<a href="{{ register }}">
							Регистрация
						</a>
						{% if redirect %}
							<input
									type="hidden"
									name="redirect"
									value="{{ redirect }}"
							/>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  const url = new URL(location.href);
  url.searchParams.delete('success');
  url.searchParams.delete('error');
  window.history.pushState({}, null, url.toString());
</script>

{{ footer }}
