{{ header }}
<style>
.wrapper-btn {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .wrapper-btn {
    flex-direction: row;
    justify-content: flex-end;
  }
}
</style>

<div class="container">
  <div class="wrapper-breadcrumbs">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
          </svg>
        </a>
      </li>

      <li class="breadcrumbs__item">
        <a href="{{ linkOrders }}" class="breadcrumbs__link">
          Заказы
        </a>
      </li>

      <li class="breadcrumbs__item">
        {{ headingH1 }}
      </li>
    </ul>
  </div>

  <h1 class="page-title">{{ headingH1 }}</h1>

  <table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <td style="width: 50%;">
          <p><b>Заказ №</b> {{ order.orderId }}</p>
          <p><b>Добавлено</b> {{ order.dateAdded }}</p>
          <p><b>Статус</b> {{ order.statusName }}</p>
        </td>
        <td style="width: 50%;">
          {% if paymentMethod %}
            <p><b>Способ оплаты</b> {{ order.paymentMethod }}</p>
          {% endif %}
          <p><b>Способ доставки</b> {{ order.shippingMethod }}</p>
          {% if ttn %}
            <p><b>ТТН</b> {{ order.ttn }}</p>
            <p><b>Отслеживание</b> {{ order.ttnStatus }}</p>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  {% if shippingAddress %}
    <table class="table table-bordered table-hover">
      <thead><tr><th>Платёжный адрес</th></tr></thead>
      <tbody><tr><td>{{ order.shippingAddress }}</td></tr>
      </tbody>
    </table>
  {% endif %}

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td style="text-align: right;">Код</td>
          <td>Название товара</td>
          <td style="text-align: right;">Цена</td>
          <td style="text-align: right;">Количество</td>
          <td style="text-align: right;">Всего</td>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td style="text-align: right;">{{ product.productId }}</td>
            <td>{{ product.name }}</td>
            <td style="text-align: right;">{{ product.priceUAH }}&nbsp;грн. (${{ product.priceUSD }})</td>
            <td style="text-align: right;">{{ product.quantity }}</td>
            <td style="text-align: right;">{{ product.totalUAH }}&nbsp;грн. (${{ product.totalUSD }})</td>
          </tr>
        {% endfor %}
      </tbody>

      <tfoot>
        {% if order.commissionUAH %}
          <tr>
            <td colspan="4" style="text-align: right;"><b>Всего:</b></td>
            <td style="text-align: right;">{{ order.totalUAH }}&nbsp;грн. (${{ order.totalUSD }})</td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: right;"><b>Коммисия за перевод:</b></td>
            <td style="text-align: right;">{{ order.commissionUAH }}&nbsp;грн.</td>
          </tr>
        {% endif %}
        <tr>
          <td colspan="4" style="text-align: right;"><b>Сумма</b></td>
          <td style="text-align: right;">{{ order.toPayUAH }}&nbsp;грн. (${{ order.toPayUSD }})</td>
        </tr>
      </tfoot>
    </table>
  </div>

  {% if comment %}
    <table class="table table-bordered table-hover">
      <thead><tr><th>Комментарий</th></tr></thead>
      <tbody><tr><td>{{ comment }}</td></tr></tbody>
    </table>
  {% endif %}

  <div class="wrapper-btn">
    <a href="{{ linkOrders }}" class="btn-new btn-new--success btn-new--inline">
      Назад
    </a>
  </div>
</div>

{{ footer }}
