{{ header }}

<link rel="stylesheet" href="/catalog/view/theme/default/stylesheet/egofoxlab/account-register.min.css?20201102">

<div id="account-register" class="container">
  <div class="wrapper-breadcrumbs">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
          </svg>
        </a>
      </li>

      <li class="breadcrumbs__item">
       {{ headingH1 }}
      </li>
    </ul>
  </div>

  <h1 class="page-title">
    {{ headingH1 }}
  </h1>

  <p>
    Если Вы уже зарегистрированы, перейдите на страницу <a href="{{ linkLogin }}">авторизации</a>.
  </p>

  {% if error.warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i> {{ error.warning }}
    </div>
  {% endif %}

  <form
    action="{{ action }}"
    method="post"
    enctype="multipart/form-data"
    class="form-horizontal"
  >
    <fieldset id="account">
      <legend class="section__title">Основные данные</legend>

      <div class="form-group required">
        <label
          class="col-sm-2 control-label"
          for="input-firstname"
        >
          Имя
        </label>
        <div class="col-sm-10">
          <input
            name="firstname"
            value="{{ firstname }}"
            placeholder="Иван"
            id="input-firstname"
            class="form-control restrict-language"
          />
          {% if error.firstName %}
            <div class="text-danger">{{ error.firstName }}</div>
          {% endif %}
        </div>
      </div>

      <div class="form-group required">
        <label
          class="col-sm-2 control-label"
          for="input-lastname"
        >
          Фамилия
        </label>
        <div class="col-sm-10">
          <input
            name="lastname"
            value="{{ lastname }}"
            placeholder="Иванов"
            id="input-lastname"
            class="form-control restrict-language"
          />
          {% if error.lastName %}
            <div class="text-danger">{{ error.lastName }}</div>
          {% endif %}
        </div>
      </div>

      <div class="form-group required">
        <label
          class="col-sm-2 control-label"
          for="input-email"
        >
          E-Mail
        </label>
        <div class="col-sm-10">
          <input
            type="email"
            name="email"
            value="{{ email }}"
            placeholder="user@example.coms"
            id="input-email"
            class="form-control"
          />
          {% if error.email %}
            <div class="text-danger">{{ error.email }}</div>
          {% endif %}
        </div>
      </div>

      <div class="form-group required">
        <label
          class="col-sm-2 control-label"
          for="input-telephone"
          >
            Телефон
          </label>
        <div class="col-sm-10">
          <input
            name="telephone"
            value="{{ telephone }}"
            id="input-telephone"
            class="form-control"
          />
          {% if error.telephone %}
            <div class="text-danger">{{ error.telephone }}</div>
          {% endif %}
        </div>
      </div>

      <div class="form-group">
        <label for="npRegion" class="control-label col-sm-2">
          * Область
        </label>
        <div class="col-sm-10">
          <select class="select" id="npRegion" name="region" data-selected-value="{{ region }}">
            <option value="" disabled selected>-- Выберите значение --</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="npCity" class="control-label col-sm-2">
          * Город
        </label>
        <div class="col-sm-10">
          <select class="select" id="npCity" name="city" data-selected-value="{{ city }}">
            <option value="" disabled selected>-- Выберите значение --</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="npWarehouse" class="col-sm-2 control-label">
          * Отделение
        </label>
        <div class="col-sm-10">
          <select class="select" id="npWarehouse" name="warehouse" data-selected-value="{{ warehouse }}">
            <option value="" disabled selected>-- Выберите значение --</option>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="section__title">Ваш пароль</legend>
      <div class="form-group required">
        <label
          class="col-sm-2 control-label"
          for="input-password"
        >
          Пароль
        </label>
        <div class="col-sm-10">
          <input
            type="password"
            name="password"
            value="{{ password }}"
            id="input-password"
            class="form-control"
          />
          {% if error.password %}
            <div class="text-danger">{{ error.password }}</div>
          {% endif %}
        </div>
      </div>
      <div class="form-group required">
        <label
          class="col-sm-2 control-label"
          for="input-confirm"
        >
          Подтверждение пароля
        </label>
        <div class="col-sm-10">
          <input
            type="password"
            name="confirm"
            value="{{ confirm }}"
            id="input-confirm"
            class="form-control"
          />
          {% if error.confirm %}
            <div class="text-danger">{{ error.confirm }}</div>
          {% endif %}
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="section__title">Подписаться на новости</legend>
      <div class="form-group">
        <label class="col-sm-2 control-label">Подписаться на новости</label>
        <div class="col-sm-10">

          <label class="input-radio input-radio--inline">
            <input
              type="radio"
              name="newsletter"
              class="input-radio__input"
              value="1"
              checked
            />
            <span class="input-radio__text">Да</span>
          </label>

          <label class="input-radio input-radio--inline">
            <input
              type="radio"
              name="newsletter"
              class="input-radio__input"
              value="0"
            />
            <span class="input-radio__text">Нет</span>
          </label>
        </div>
      </div>
    </fieldset>

    <fieldset style="margin-bottom: 20px;">
      <legend class="section__title">Защита от роботов</legend>
      <div>
        {{ captcha }}
        {% if error.captcha %}
          <div class="text-danger">{{ error.captcha }}</div>
        {% endif %}
      </div>
    </fieldset>

    <div class="wrapper-agree">
      <input type="checkbox" id="agree" class="checkbox hidden" name="agree" value="1" />
      <label for="agree" class="checkbox-label">
        <span>
          Я прочитал
            <a href="{{ linkAgree }}" target="_blank">
              <b>Политика конфиденциальности</b>
            </a>
            и согласен с условиями безопасности и обработки персональных данных
        </span>
      </label>
    </div>

    <div class="wrapper-buttons">
      <button class="btn-new btn-new--success btn-new--inline">Продолжить</button>
      <button
        type="button"
        data-toggle="modal"
        data-target="#modal-help-with-registration"
        class="btn-new btn-new--success btn-new--inline"
      >
        Помощь с регистрацией
      </button>
    </div>
  </form>

  <div id="modal-help-with-registration" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="phones">
            <div class="title">Свяжитесь с нами</div>
            <div class="header">
              <div class="image">
                <div style="background-image: url('/ego/assets/img/icon-call.png');"></div>
              </div>
              <span>Телефоны:</span>
            </div>
            <div class="content">
              <div class="item">+38 050 274 2790</div>
              <div class="item">+38 095 765 1080</div>
              <div class="item">+38 093 765 1080</div>
              <div class="item">+38 068 765 1080</div>
            </div>
          </div>

          <div class="get-callback">
            <button
              class="btn"
              data-dismiss="modal"
              onclick="$('body').trigger('open.ego-callback');"
            >
              Заказать обратный звонок
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">Закрыть</button>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="/catalog/view/theme/default/js/libs/vanillaTextMask.js"></script>
<script src="/catalog/view/theme/default/js/novaposhta.min.js?20201114"></script>

<script>
window.addEventListener('load', () => {
  const phoneElem = document.getElementById('input-telephone');
  const phoneValue = phoneElem.value;
  phoneElem.value = phoneValue.replace(/^38/, '');
  const mask = ['+', '3', '8','(', /\d/, /\d/, /\d/, ')', /\d/, /\d/, /\d/, '-', /\d/, /\d/, '-', /\d/, /\d/];
  vanillaTextMask.maskInput({ inputElement: phoneElem, mask, showMask: true });

  const onFormSubmit = () => phoneElem.value = phoneElem.value.replace(/\(|\)|-|\+|_/g, '');
  const form = document.querySelector('form');
  form.addEventListener('submit', onFormSubmit);

  const addClassError = el => {
    const formGroup = el.closest('.form-group');
    if (formGroup) formGroup.classList.add('has-error');
  };

  const textDangerList = document.querySelectorAll('.text-danger');
  if (textDangerList) textDangerList.forEach(addClassError);

  //-----------------------------------

  const setRegions = async () => {
    const regions = await novaPoshta.getRegions();
    regions.forEach(el => region.append(new Option(el.Description, el.Ref)));
  }
});
</script>

{{ footer }}
