{{ header }}
<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/egofoxlab/cart.min.css?20200921">

<div id="checkout-checkout" class="container">
  <div class="row">
    <div id="content">
      <h1 class="page-title"></h1>

      <form id="formDoOrder" class="row content-container">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="firstName" class="control-label">
                  <span class="required">*</span>
                  Имя Получателя
                </label>
              </div>
              <div class="col-sm-8">
                <input
                  id="firstName"
                  class="form-control restrict-language"
                  value="{{ firstName }}"
                  placeholder="Иванов"
                  required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="lastName" class="control-label">
                  <span class="required">*</span>
                  Фамилия Получателя
                </label>
              </div>
              <div class="col-sm-8">
                <input
                  id="lastName"
                  class="form-control restrict-language"
                  value="{{ lastName }}"
                  placeholder="Иван"
                  required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="phone" class="control-label">
                  <span class="required">*</span>
                  Телефон Получателя
                </label>
              </div>
              <div class="col-sm-8">
                <input
                  id="phone"
                  class="form-control"
                  value="{{ phone }}"
                  required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="email" class="control-label">
                  <span class="required">*</span>
                  Email
                </label>
              </div>
              <div class="col-sm-8">
                <input
                  id="email"
                  class="form-control"
                  value="{{ email }}"
                  placeholder="user@example.com"
                  required
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <div><b>Способ доставки</b></div>

            <div class="radio-block">
              <input
                type="radio"
                name="shipping-method"
                id="rovnoPickup"
                value="Самовывоз из г. Ровно"
              >
              <label for="rovnoPickup" class="control-label">
                Самовывоз из г. Ровно
              </label>
            </div>

            <div class="radio-block">
              <input
                type="radio"
                name="shipping-method"
                id="chernovciPickup"
                value="Самовывоз из г. Черновцы"
              >
              <label for="chernovciPickup" class="control-label">
                Самовывоз из г. Черновцы
              </label>
            </div>

            <div class="radio-block">
              <input
                type="radio"
                name="shipping-method"
                id="novaPoshta"
                value="Новая Почта"
                checked
              >
              <label for="novaPoshta" class="control-label">
                Отправка службой "Новая почта"
              </label>
            </div>

            <div class="radio-block">
              <input
                type="radio"
                name="shipping-method"
                id="novaPoshtaDelivery"
                value="Курьерская доставка &quot;Новая Почта&quot;"
              >
              <label for="novaPoshtaDelivery" class="control-label">
                Курьерская доставка "Новая почта"
              </label>
            </div>

            <div class="radio-block">
              <input
                type="radio"
                name="shipping-method"
                id="rovnoDelivery"
                value="Курьерская доставка г. Ровно"
              >
              <label for="rovnoDelivery" class="control-label">
                Курьерская доставка г. Ровно
              </label>
            </div>
          </div>

          <div class="form-group" id="formRegion">
            <div class="row">
              <div class="col-sm-4">
                <label for="region" class="control-label">
                  <span class="required">*</span>
                  Область
                </label>
              </div>
              <div class="col-sm-8">
                <select class="select" id="region">
                  <option value="" disabled selected>-- Выберите значение --</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group" id="formCity">
            <div class="row">
              <div class="col-sm-4">
                <label for="city" class="control-label">
                  <span class="required">*</span>
                  Город
                </label>
              </div>
              <div class="col-sm-8">
                <select class="select" id="city">
                  <option value="" disabled selected>-- Выберите значение --</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group" id="formWarehouse">
            <div class="row">
              <div class="col-sm-4">
                <label for="warehouse" class="control-label">
                  <span class="required">*</span>
                  Отделение
                </label>
              </div>
              <div class="col-sm-8">
                <select class="select" id="warehouse">
                  <option value="" disabled selected>-- Выберите значение --</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group" id="formAddress">
            <div class="row">
              <div class="col-sm-4">
                <label for="address" class="control-label">
                  <span class="required">*</span>
                  Адрес
                </label>
              </div>
              <div class="col-sm-8">
                <input
                  id="address"
                  class="form-control"
                  placeholder="ул. Солнечная, 7 кв. №33"
                >
              </div>
            </div>
          </div>

          <div class="form-group" id="wrapperPaymentMethods">
            <div><b>Метод оплаты</b></div>

            <div class="radio-block" id="formNonCash">
              <input
                type="radio"
                name="payment-method"
                id="nonCash"
                value="Безналичная оплата на счет юридического лица"
              >
              <label for="nonCash" class="control-label">
                Безналичная оплата на счет юридического лица (реквизиты будут отправлены на электронную почту)
              </label>
            </div>

            <div class="radio-block" id="formCredit">
              <input
                type="radio"
                name="payment-method"
                id="credit"
                value="В долг"
              >
              <label for="credit" class="control-label">
                В долг
              </label>
            </div>

            <div class="radio-block" id="formPrivatBank">
              <input
                type="radio"
                name="payment-method"
                id="privantBank"
                value="Оплата на карту Приват Банка"
                checked
              >
              <label for="privantBank" class="control-label">
                Оплата на карту Приват Банка (реквизиты будут отправлены в смс)
              </label>
            </div>

            <div class="radio-block" id="formCod">
              <input
                type="radio"
                name="payment-method"
                id="cod"
                value="Наложеный платеж"
              >
              <label for="cod" class="control-label">
                Наложеный платеж
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <label for="comment" class="control-label">
                  Комментарий к заказу
                </label>
              </div>
              <div class="col-sm-8">
                <textarea
                  id="comment"
                  class="form-control form-control--textarea"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="checkbox" id="notCallback" class="checkbox hidden" />
            <label for="notCallback" class="checkbox-label checkbox-label--bold">
              Не перезванивайте мне, я уверен(на) в заказе
            </label>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <div id="products-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Фото</th>
                  <th>Наименование</th>
                  <th>Кол-во</th>
                  <th>Цена</th>
                  <th>Итого</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="attention-message"></div>
        </div>

        <div class="col-sm-12">
          <div class="page-cart--wrapper-btn-order">
            <button class="btn-new btn-new--success">
              <span class="btn-new__wrapper-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                  <path d="M204.78 116.47l4.1 4.1 71.69-71.8L238.78 7a24.1 24.1 0 0 0-33.9 0L167 44.87a24 24 0 0 0 0 33.8zM608 160H437l120.25 120.28A64 64 0 0 1 576 325.54V400a16 16 0 0 1-16 16H264a8 8 0 0 1-8-8v-16a8 8 0 0 1 8-8h163l-64-64h-99a8 8 0 0 1-8-8v-16a8 8 0 0 1 8-8h67L203 160H32a32 32 0 0 0-32 32v288a32 32 0 0 0 32 32h576a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32zM144 415.88V432a8 8 0 0 1-8 8h-16a8 8 0 0 1-8-8v-16.29a57.26 57.26 0 0 1-31.37-11.35 8 8 0 0 1-.57-12.14L91.81 381a8.21 8.21 0 0 1 10.13-.73 24.08 24.08 0 0 0 12.82 3.73h28.11c6.5 0 11.8-5.92 11.8-13.19 0-5.95-3.61-11.19-8.77-12.73l-45-13.5c-18.59-5.58-31.58-23.42-31.58-43.39 0-24.52 19.05-44.44 42.67-45.07V240a8 8 0 0 1 8-8h16a8 8 0 0 1 8 8v16.29a57.18 57.18 0 0 1 31.37 11.35 8 8 0 0 1 .57 12.14L164.18 291a8.22 8.22 0 0 1-10.14.73 23.93 23.93 0 0 0-12.81-3.73h-28.11c-6.5 0-11.8 5.92-11.8 13.19 0 5.95 3.61 11.19 8.77 12.73l45 13.5c18.59 5.58 31.57 23.42 31.57 43.39 0 24.53-19.04 44.44-42.66 45.07zm318.87-41.25a32 32 0 0 0 22.62 9.37H528a16 16 0 0 0 16-16v-42.46a32 32 0 0 0-9.37-22.63L303.17 71.47l-71.7 71.7z"/>
                </svg>
              </span>
              <span class="btn-new__wrapper-text">
                Оформить Заказ
              </span>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script src="catalog/view/theme/default/js/libs/vanillaTextMask.js"></script>
<script src="catalog/view/theme/default/js/checkout/cart.min.js?20200921"></script>

{{ footer }}
