{{ header }}

<style>
  .checkout-success__page-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px;
  }

  .checkout-success__page-title::before {
    content: '';
    display: block;
    height: 80px;
    width: 80px;
    margin: 0 auto 10px;
    background-color: #ce4148;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z'/%3E%3C/svg%3E");
  }

  .checkout-success__message {
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: center;
  }

  .checkout-success__wrapper-order-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  @media (max-width: 576px) {
    .checkout-success__wrapper-order-info {
      padding: 0 15px;
    }
  }

  .checkout-success__order-info {
    display: inline-flex;
  }

  @media (max-width: 576px) {
    .checkout-success__order-info {
      flex-direction: column;
    }

    .checkout-success__order-info-item:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media (min-width: 577px) {
    .checkout-success__order-info {
      justify-content: center;
    }

    .checkout-success__order-info-item:not(:last-child) {
      margin-right: 25px;
    }
  }

  .checkout-success__order-info-item p {
    margin-bottom: 5px;
  }

  .checkout-success__order-info-item p:last-child {
    margin-bottom: 0;
  }

  .checkout-success__order-info-title {
    font-weight: bold;
  }

  .checkout-success__order-code {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .checkout-success__product-table {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 20px;
  }

  @media (max-width: 576px) {
    .checkout-success__product-head,
    .checkout-success__product-body-row-desktop {
      display: none;
    }
  }

  @media (min-width: 577px) {
    .checkout-success__product-body-row-mobile {
      display: none;
    }
  }

  .checkout-success__product-foot {
    background-color: #f2f2f2;
  }

  .checkout-success__product-head-cell,
  .checkout-success__product-body-cell,
  .checkout-success__product-foot-cell {
    padding-bottom: 5px;
  }

  .checkout-success__product-head-cell,
  .checkout-success__product-body-cell--center {
    text-align: center;
    white-space: nowrap;
  }

    @media (max-width: 576px) {
    .checkout-success__product-body-cell--last {
      padding-bottom: 15px;
    }
  }

  @media (min-width: 577px) {
    .checkout-success__product-head-cell,
    .checkout-success__product-body-cell,
    .checkout-success__product-foot-cell {
      padding: 0 5px 5px;
    }

    .checkout-success__product-foot-cell {
      text-align: right;
    }
  }

  .checkout-success__product-body-cell--title,
  .checkout-success__product-foot-cell--title {
    padding-left: 5px;
    padding-right: 15px;
    font-weight: bold;
  }

  .checkout-success__product-image {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  @media (max-width: 576px) {
    .checkout-success__product-image {
      height: 200px;
      width: 100%;
      padding-bottom: 10px;
    }
  }

  .wrapper-btn {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 577px) {
    .wrapper-btn {
      justify-content: flex-end;
    }
  }
</style>

<div class="container">
  <div class="wrapper-breadcrumbs">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
          </svg>
        </a>
      </li>

      <li class="breadcrumbs__item">
        {{ headingH1 }}
      </li>
    </ul>
  </div>

  <h1 class="checkout-success__page-title">{{ headingH1 }}</h1>

  <div class="checkout-success__message">
    На вашу электронную почту отправлено письмо с подтверждением заказа.
    Менеджер свяжется с вами для уточнений деталей в ближайшее время.
    Вы также можете отслеживать статус заказа в личном кабинете.
  </div>

  <div class="checkout-success__wrapper-order-info">
    <div class="checkout-success__order-info">
      <div class="checkout-success__order-info-item">
        <p class="checkout-success__order-info-title">Получатель:</p>
        <p>{{ order.shippingFullname }}</p>
        <p>{{ order.shippingPhone }}</p>
        <p>{{ order.email }}</p>
      </div>

      <div class="checkout-success__order-info-item">
        <p class="checkout-success__order-info-title">Информация о доставке:</p>
        <p>{{ order.shippingMethod }}</p>
        <p>{{ order.shippingAddress }}</p>
      </div>

      {% if order.paymentMethod %}
        <div class="checkout-success__order-info-item">
          <p class="checkout-success__order-info-title">Способ оплаты:</p>
          <p>{{ order.paymentMethod }}</p>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="checkout-success__order-code">Заказ № {{ orderIds }}</div>

  <table class="checkout-success__product-table">
    <thead class="checkout-success__product-head">
      <tr>
        <th class="checkout-success__product-head-cell">Фото</th>
        <th class="checkout-success__product-head-cell">Код</th>
        <th class="checkout-success__product-head-cell">Название</th>
        <th class="checkout-success__product-head-cell">Цена</th>
        <th class="checkout-success__product-head-cell">Кол-во</th>
        <th class="checkout-success__product-head-cell">Итого</th>
      </tr>
    </thead>

    <tbody>
      {% for product in products %}
        <tr class="checkout-success__product-body-row-desktop">
          <td class="checkout-success__product-body-cell">
            <img
              class="checkout-success__product-image"
              src="{{ product.image }}"
              title="{{ product.name }}"
              alt="{{ product.name }} - ukr-mobil.com"
            />
          </td>
          <td class="checkout-success__product-body-cell checkout-success__product-body-cell--center">
            {{ product.code }}
          </td>
          <td class="checkout-success__product-body-cell">
            {{ product.name }}
          </td>
          <td class="checkout-success__product-body-cell checkout-success__product-body-cell--center">
            {{ product.priceUAH }}&nbsp;грн.<br>${{ product.priceUSD }}
          </td>
          <td class="checkout-success__product-body-cell checkout-success__product-body-cell--center">
            {{ product.quantity }}
          </td>
          <td class="checkout-success__product-body-cell checkout-success__product-body-cell--center">
            {{ product.totalUAH }}&nbsp;грн.<br>${{ product.totalUSD }}
          </td>
        </tr>

        <tr class="checkout-success__product-body-row-mobile">
          <td colspan="6" class="checkout-success__product-body-cell checkout-success__product-body-cell--title">
            <img
              class="checkout-success__product-image"
              src="{{ product.image }}"
              title="{{ product.name }}"
              alt="{{ product.name }} - ukr-mobil.com"
            />
          </td>
        </tr>
        <tr class="checkout-success__product-body-row-mobile">
          <td colspan="4" class="checkout-success__product-body-cell checkout-success__product-body-cell--title">
            Код
          </td>
          <td colspan="2" class="checkout-success__product-body-cell checkout-success__product-body-cell--value">
            {{ product.code }}
          </td>
        </tr>
        <tr class="checkout-success__product-body-row-mobile">
          <td colspan="4" class="checkout-success__product-body-cell checkout-success__product-body-cell--title">
            Наименование:
          </td>
          <td colspan="2" class="checkout-success__product-body-cell checkout-success__product-body-cell--value">
            {{ product.name }}
          </td>
        </tr>
        <tr class="checkout-success__product-body-row-mobile">
          <td colspan="4" class="checkout-success__product-body-cell checkout-success__product-body-cell--title">
            Цена:
          </td>
          <td colspan="2" class="checkout-success__product-body-cell checkout-success__product-body-cell--value">
            {{ product.priceUAH }}&nbsp;грн. (${{ product.priceUSD }})
          </td>
        </tr>
        <tr class="checkout-success__product-body-row-mobile">
          <td colspan="4" class="checkout-success__product-body-cell checkout-success__product-body-cell--title">
            Кол-во:
          </td>
          <td colspan="2" class="checkout-success__product-body-cell checkout-success__product-body-cell--value">
            {{ product.quantity }}
          </td>
        </tr>
        <tr class="checkout-success__product-body-row-mobile checkout-success__product-body-cell--last
          checkout-success__product-body-row-mobile--last">
          <td colspan="4" class="checkout-success__product-body-cell checkout-success__product-body-cell--title">
            Итого:
          </td>
          <td colspan="2" class="checkout-success__product-body-cell checkout-success__product-body-cell--last
            checkout-success__product-body-cell--value">
            {{ product.totalUAH }}&nbsp;грн. (${{ product.totalUSD }})
          </td>
        </tr>
      {% endfor %}
    </tbody>

    <tfoot class="checkout-success__product-foot">
      {% if order.commissionUAH %}
        <tr>
          <td colspan="3" class="checkout-success__product-foot-cell checkout-success__product-foot-cell--title">
            Всего:
          </td>
          <td colspan="3" class="checkout-success__product-foot-cell">
            {{ order.totalUAH }}&nbsp;грн. (${{ order.totalUSD }})
          </td>
        </tr>
        <tr>
          <td colspan="3" class="checkout-success__product-foot-cell checkout-success__product-foot-cell--title">
            Коммисия за перевод:
          </td>
          <td colspan="3" class="checkout-success__product-foot-cell">
            {{ order.commissionUAH }}&nbsp;грн.
          </td>
        </tr>
      {% endif %}
      <tr>
        <td colspan="3" class="checkout-success__product-foot-cell checkout-success__product-foot-cell--title">
          К оплате:
        </td>
        <td colspan="3" class="checkout-success__product-foot-cell">
          {{ order.toPayUAH }}&nbsp;грн. (${{ order.toPayUSD }})
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="wrapper-btn">
    <a href="{{ linkHome }}" class="btn-new btn-new--success btn-new--inline">
      <span class="btn-new__wrapper-text">
        Продолжить покупки
      </span>
    </a>
  </div>
</div>

{{ footer }}
