{{ header }}

<main>
  <div class="layout-box container" id="container">
    <div class="catalog-head">
      {{ breadcrumbs }}
      {{ catalogHeadSort }}
      {{ catalogFilters }}
      {{ catalogItems }}
      {{ catalogPagination }}
    </div>
  </div>
</main>

{{ footer }}
