<div class="mobile-menu" id="mobileMenu">
  <div class="mobile-menu__container">
    <div class="mobile-menu__drop">
      <div class="mobile-menu__wrapper-btn-catalog container">
        <button class="mobile-menu__btn-catalog" id="btnMobileMenuCategories">
          <svg class="mobile-menu__btn-catalog-img mobile-menu__btn-catalog-img--menu">
            <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-menu"></use>
          </svg>
          Каталог продукції
          <svg class="mobile-menu__btn-catalog-img mobile-menu__btn-catalog-img--arrow">
            <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-arrow-up"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-menu__nav-catalog container">
        {{ navCategories }}
      </div>

      <div class="mobile-menu__content container">
          <ul class="mobile-menu__menu">
            <li><a class="mobile-menu__menu-link" href="{{ linkAbout }}">Про нас</a></li>
            <li><a class="mobile-menu__menu-link" href="{{ linkNews }}">Новини</a></li>
            <li><a class="mobile-menu__menu-link" href="{{ linkTracking }}">Сервіс</a></li>
            <li><a class="mobile-menu__menu-link" href="{{ linkDelivery }}">Доставка і оплата</a></li>
            <li><a class="mobile-menu__menu-link" href="{{ linkIncome }}">Надходження</a></li>
            <li><a class="mobile-menu__menu-link" href="{{ linkContact }}">Контакти</a></li>
          </ul>

          <ul class="mobile-menu__action-bar">
            <li>
              {% if isLogged %}
                <a class="mobile-menu__action-bar-btn" href="{{ linkAccountFavorites }}">
                  <svg class="mobile-menu__action-bar-btn-img">
                    <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-heart"></use>
                  </svg>
                  Cписок обраного
                </a>
              {% else %}
                <button class="mobile-menu__action-bar-btn" id="mobileMenuFavorites">
                  <svg class="mobile-menu__action-bar-btn-img">
                    <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-heart"></use>
                  </svg>
                  Cписок обраного
                </button>
              {% endif %}
            </li>

            <li>
              {% if isLogged %}
                <a class="mobile-menu__action-bar-btn" href="{{ linkAccount }}">
                  <span class="mobile-menu__action-bar-btn-wrapper-img">
                    <svg class="mobile-menu__action-bar-btn-img">
                      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-user"></use>
                    </svg>
                    <svg class="mobile-menu__action-bar-btn-counter">
                      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-check"></use>
                    </svg>
                  </span>

                  Особистий кабнет
                </a>
              {% else %}
                <button class="mobile-menu__action-bar-btn" id="mobileMenuLogin">
                  <span class="mobile-menu__action-bar-btn-wrapper-img">
                    <svg class="mobile-menu__action-bar-btn-img">
                      <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-user"></use>
                    </svg>
                  </span>

                  Вхід
                </button>
              {% endif %}


            </li>

            <li class="mobile-menu__action-bar-item">
              <a class="mobile-menu__action-bar-btn" href="{{ linkPriceList }}">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-download"></use>
                </svg>
                Завантажити прайс
              </a>
            </li>

            <li>
              <span class="mobile-menu__action-bar-btn">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-usd"></use>
                </svg>
                Курс USD: {{ currency }} грн
              </a>
            </li>


            <li>
              <button class="mobile-menu__action-bar-btn" id="mmWindowModalFeedbackManager">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-docs"></use>
                </svg>
                Написати директору
              </button>
            </li>

            <li>
              <button class="mobile-menu__action-bar-btn" id="mmWindowModalFeedbackError">
                <svg class="mobile-menu__action-bar-btn-img">
                  <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-warning"></use>
                </svg>
                Повідомити про помилку на сайті
              </button>
            </li>
          </ul>


          <button class="mobile-menu__btn-contact" id="mobileMenuBtnContact">
            <svg class="mobile-menu__btn-contact-img">
              <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-phone"></use>
            </svg>
            Телефони
          </button>

          <div class="wrapper-mobile-menu-contacts" id="wrapperMobileMenuContacts">
            <ul class="mobile-menu-contacts">
              <li class="mobile-menu-contacts__item">
                <div class="mobile-menu-contacts__item-title">
                  <svg class="mobile-menu-contacts__item-title-img">
                    <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-phone"></use>
                  </svg>
                  Чернівці
                </div>

                <ul class="mobile-menu-contacts__list">
                  <li><a class="mobile-menu-contacts__link" href="tel:+380502742790">+38 050 274 2790</a></li>
                  <li><a class="mobile-menu-contacts__link" href="tel:+380937651080">+38 093 765 1080</a></li>
                  <li><a class="mobile-menu-contacts__link" href="tel:+380957651080">+38 095 765 1080</a></li>
                  <li><a class="mobile-menu-contacts__link" href="tel:+380687651080">+38 068 765 1080</a></li>
                </ul>
              </li>

              <li class="mobile-menu-contacts__item">
                <div class="mobile-menu-contacts__item-title">
                  <svg class="mobile-menu-contacts__item-title-img">
                    <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-phone"></use>
                  </svg>
                  Рівне
                </div>

                <ul class="mobile-menu-contacts__list">
                  <li><a class="mobile-menu-contacts__link" href="tel:+380969075550">+38 096 907 5550</a></li>
                  <li><a class="mobile-menu-contacts__link" href="tel:+380937651080">+38 093 765 1080</a></li>
                  <li><a class="mobile-menu-contacts__link" href="tel:+380959075550">+38 095 907 5550</a></li>
                </ul>
              </li>

              <li class="mobile-menu-contacts__item">
                <div class="mobile-menu-contacts__item-title">
                  <svg class="mobile-menu-contacts__item-title-img">
                    <use xlink:href="/resourse/images/shared-sprite-icons.svg#icon-phone"></use>
                  </svg>
                  Сервіс Рівне
                </div>

                <ul class="mobile-menu-contacts__list">
                  <li><a class="mobile-menu-contacts__link" href="tel:+380969075550">+38 096 907 5550</a></li>
                  <li><a class="mobile-menu-contacts__link" href="tel:+380937651080">+38 093 765 1080</a></li>
                  <li><a class="mobile-menu-contacts__link" href="tel:+380959075550">+38 095 907 5550</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <ul class="mobile-menu-languages">
            <li class="mobile-menu-languages__item mobile-menu-languages__item--active">
              <a class="mobile-menu-languages__link" href="javascript:void(0);">укр</a>
            </li>

            <li class="mobile-menu-languages__item">
              <a class="mobile-menu-languages__link" href="javascript:void(0);">рус</a>
            </li>
          </div>
      </div>
    </div>
  </div>
</div>
