{{ header }}

<main class="container">
  {{ breadcrumbs }}

  <div class="about">
    <div class="about__content">
      <h1 class="page-title">{{ headingH1 }}</h1>

      <ul class="about__about">
        <li class="about__about-item">Це - запчастини і комплектуючі для мобільних пристроїв.</li>
        <li class="about__about-item">Високоякісне обладнання, електротехнічний і ручний інструмент!</li>
        <li class="about__about-item">
          Близько 7 000 товарів оптом і в роздріб. Відправлення в день оформлення замовлення,
          доставка «Нової Поштою» протягом 1-2 днів.
        </li>
        <li class="about__about-item">
          Безкоштовні консультації фахівців,
          знижки від обсягу замовлення і дисконтна програма для постійних покупців.
        </li>
      </ul>

      <ul class="about__service">
        <li>
          <svg class="about__service-item-img" height="50" width="39">
            <use xlink:href="/resourse/images/about-sprite-icons.svg#icon-service-price"></use>
          </svg>
          <div class="about__service-text">
            <span class="about__service-text-title">Фіксовані ціни</span>
            <span>
              Ми ніколи не змінюємо ціни, озвучені в день оформлення замовлення,
              навіть якщо вони з якоїсь причини змінилися у виробника.
            </span>
          </div>
        </li>

        <li>
          <svg class="about__service-item-img" height="50" width="60">
            <use xlink:href="/resourse/images/about-sprite-icons.svg#icon-service-consultation"></use>
          </svg>
          <div class="about__service-text">
            <span class="about__service-text-title">Консультації експертів</span>
            <span>
              Кваліфіковані співробітники нашого інтернет-магазину будуть раді надати вам детальну
              інформацію про цікавлячих товарах.
            </span>
          </div>
        </li>

        <li>
          <svg class="about__service-item-img" height="50" width="78">
            <use xlink:href="/resourse/images/about-sprite-icons.svg#icon-service-cooperation"></use>
          </svg>
          <div class="about__service-text">
            <span class="about__service-text-title">Вигідне співробітництво</span>
            <span>
              Реалізуємо товари в роздріб, а також надаємо спеціальні бонуси і знижки оптовим покупцям.
              Діє система лояльності для постійних клієнтів.
            </span>
          </div>
        </li>

        <li>
          <svg class="about__service-item-img" height="50" width="53">
            <use xlink:href="/resourse/images/about-sprite-icons.svg#icon-service-pay"></use>
          </svg>
          <div class="about__service-text">
            <span class="about__service-text-title">Комфортна оплата</span>
            <span>
              Надаємо можливість оплатити товар після ретельної перевірки
              при отриманні або внести передоплату на банківську карту.
            </span>
          </div>
        </li>
      </ul>

      <h2 class="service__subtitle">Як оформити замовлення?</h2>

      <ol class="about__checkout">
        <li class="about__checkout-item">
          <span class="about__checkout-text">
            Залишайте заявку На нашому сайті або зв'яжіться з нами по телефону.
          </span>
        </li>
        <li class="about__checkout-item">
          <span class="about__checkout-text">
            Скористайтеся консультацією менеджера, узгодьте деталі замовлення.
          </span>
        </li>
        <li class="about__checkout-item">
          <span class="about__checkout-text">
            Сплатіть замовлення за безготівковим розрахунком або післяплатою.
          </span>
        </li>
        <li class="about__checkout-item">
          <span class="about__checkout-text">
            Ваша покупка буде доставлена по Зазначеному адресою протягом 1-2 днів.
          </span>
        </li>
      </ol>

      <h2 class="service__subtitle">У цифрах про нашу компанію</h2>

      <ul class="about__benefits">
        <li class="about__benefits-item">
          <svg class="about__benefits-item-img">
            <use xlink:href="/resourse/images/about-sprite-icons.svg#icon-benefit-0"></use>
          </svg>
          <div class="about__benefits-item-text">
            <div class="about__benefits-item-text-title">12+ років</div>
            <div class="about__benefits-item-text-content">на українському ринку</div>
          </div>
        </li>

        <li class="about__benefits-item">
          <svg class="about__benefits-item-img">
            <use xlink:href="/resourse/images/about-sprite-icons.svg#icon-benefit-1"></use>
          </svg>
          <div class="about__benefits-item-text">
            <div class="about__benefits-item-text-title">5 000+</div>
            <div class="about__benefits-item-text-content">товарів в асортименті</div>
          </div>
        </li>

        <li class="about__benefits-item">
          <svg class="about__benefits-item-img">
            <use xlink:href="/resourse/images/about-sprite-icons.svg#icon-benefit-2"></use>
          </svg>
          <div class="about__benefits-item-text">
            <div class="about__benefits-item-text-title">100 замовлень</div>
            <div class="about__benefits-item-text-content">приймаємо щодня</div>
          </div>
        </li>

        <li class="about__benefits-item">
          <svg class="about__benefits-item-img">
            <use xlink:href="/resourse/images/about-sprite-icons.svg#icon-benefit-3"></use>
          </svg>
          <div class="about__benefits-item-text">
            <div class="about__benefits-item-text-title">1 000</div>
            <div class="about__benefits-item-text-content">постійних покупців</div>
          </div>
        </li>
      </ul>

      <blockquote class="about__description">
        Тисячі покупців зі всіх куточків України вибирають інтернет-магазин UKRMobil і регулярно здійснюють покупки на нашому сайті.
        Оцініть і ви всі переваги співпраці з нами. Вибирайте необхідні комплектуючі і оформляйте замовлення прямо зараз!
      </blockquote>
    </div>

    {{ rightMenu }}
  </div>
</main>

{{ footer }}
