{{ header }}

<main>
  <div class="container">
    <section class="section section--special">
      <div class="wrapper-home-nav-categories">
        {{ navCategories }}
      </div>
      {{ special }}
    </section>

    <section class="section">{{ benefits }}</section>
    <section class="section">{{ new }}</section>
    <section class="section">{{ promotions }}</section>
    <section class="section">{{ incomes }}</section>
    <section class="section section--news">{{ news }}</section>
  </div>
</main>

{{ footer }}
