{{ header }}
<style>
  .information-about-us__about-us {
    margin-bottom: 15px;
  }

  .information-about-us__details {
    margin-bottom: 15px;
  }

  .information-about-us__details-summary {
    font-weight: bold;
    color: black;
    font-size: 20px;
  }

  .information-about-us__details-body {
    margin-top: 15px;
  }
</style>

<div class="container">
  <div class="wrapper-breadcrumbs">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
          </svg>
        </a>
      </li>

      <li class="breadcrumbs__item">
        {{ headingH1 }}
      </li>
    </ul>
  </div>

  <h1 class="page-title">{{ headingH1 }}</h1>

  <div class="information-about-us__about-us">{{ about_us.content }}</div>

  <a id="delivery"></a>
  <details id ="delivery-details" class="information-about-us__details">
    <summary class="information-about-us__details-summary">{{ delivery.title }}</summary>
    <div class="information-about-us__details-body">{{ delivery.content }}</div>
  </details>

  <a id="warrantly"></a>
  <details id="warrantly-details" class="information-about-us__details">
    <summary class="information-about-us__details-summary">{{ warranty.title }}</summary>
    <div class="information-about-us__details-body">{{ warranty.content }}</div>
  </details>

  <a id="contact"></a>
  <details id="contact-details" class="information-about-us__details">
    <summary class="information-about-us__details-summary">{{ contact.title }}</summary>
    <div class="information-about-us__details-body">{{ contact.content }}</div>
  </details>
</div>

<script>
window.addEventListener('load', () => {
  const clickTab = () => {
    const hash = window.location.hash.slice(1);
    document.querySelectorAll('details[open]').forEach(el => el.open = false);

    if (!hash) return;
    const activeDetails = document.getElementById(`${hash}-details`);
    if (activeDetails) activeDetails.open = true;
  }

  clickTab();

  window.onhashchange = clickTab;
});
</script>

{{ footer }}
