{{ header }}

<main class="container">
  {{ breadcrumbs }}

  <div class="information">
    <div class="information__content">
      <h1 class="page-title">{{ headingH1 }}</h1>
      {{ content }}
    </div>

    {{ rightMenu }}
  </div>
</main>

{{ footer }}
