{{ header }}

<div class="container">
  <div class="wrapper-breadcrumbs">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
          </svg>
        </a>
      </li>

      <li class="breadcrumbs__item">
       {{ headingH1 }}
      </li>
    </ul>
  </div>

  <h1 class="page-title">
    {{ headingH1 }}
  </h1>

  <style>
    .menu {
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
    }

    .menu__wrapper-items {
      display: flex;
      flex-wrap: wrap;
      margin-left: -20px;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
    }

    .menu__item {
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .menu__link {
      font-size: 16px;
      color: #333;
      padding-bottom: 10px;
    }

    .menu__link:hover {
      color: #333;
      opacity: .8;
    }

    .menu__link--active {
      display: block;
      padding-bottom: 8px;
      border-bottom: 2px solid #333;
    }
  </style>

  <nav class="menu">
    <ul class="menu__wrapper-items">
      {% for item in menu %}
        <li class="menu__item">
          <a
            class="menu__link {{ item.isActive ? 'menu__link--active' : '' }}"
            href="{{ item.link }}"
          >{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <style>
    .main-link {
      display: block;
      font-size: 18px;
      color: #333;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .main-link:hover {
      color: #333;
      opacity: .8;
    }

    .wrapper-columns {
      display: flex;
      flex-wrap: wrap;
    }

    .wrapper-columns {
      margin-left: -100px;
    }

    .wrapper-column-links {
      margin-left: 100px;
      margin-bottom: 20px;
    }

    .column-header {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .wrapper-list-links {
      padding-left: 0;
      list-style: none;
    }

    .children-link {
      display: block;
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;
    }

    .children-link:hover {
      color: #333;
      opacity: .8;
    }
  </style>

  {% if links.link %}
    <a class="main-link" href="{{ links.link.link }}">{{ links.link.name }}</a>
  {% endif %}



  <div class="wrapper-columns">
    {% if links.children %}
      <div class="wrapper-column-links">
        <ul class="wrapper-list-links">
          {% for item in links.children %}
            <li>
              <a class="children-link" href="{{ item.link }}">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if links.categories %}
      <div class="wrapper-column-links">
        <div class="column-header">Категории:</div>
        <ul class="wrapper-list-links">
          {% for item in links.categories %}
            <li>
              <a class="children-link" href="{{ item.link }}">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if links.filters %}
      <div class="wrapper-column-links">
        <div class="column-header">Фильтры:</div>
        <ul class="wrapper-list-links">
          {% for item in links.filters %}
            <li>
              <a class="children-link" href="{{ item.link }}">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>


  <div class="pagination-container">
    {{ pagination }}
  </div>
</div>

{{ footer }}
