{{ header }}
{{ column_left }}

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<h1>Ego Nova Poshta</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-pencil"></i>
					Edit Ego Nova Poshta Module
				</h3>
			</div>

			<div class="panel-body">
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<form class="form-horizontal">
						<div class="form-group">
							<button
									type="button"
									id="ego-btn-sync"
									class="btn btn-info"
							>
								Synchronize
							</button>
							<img
									src="/ego/assets/img/loader-1.svg"
									width="32px"
									class="ego-loader"
							>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript"
		src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css"
	  rel="stylesheet"/>
<script type="text/javascript"
		src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript"
		src="view/javascript/summernote/opencart.js"></script>
<script>
	$(function () {
		var baseComponent = new BaseComponent({elementRef: $('#content')});
		var data = {
			isLockSync: false
		};

		//region Init form
		hideSyncLoader();
		//endregion

		//region Actions
		baseComponent.elementRef.find('#ego-btn-sync').click(function (e) {
			e.preventDefault();

			//lockSyncButton();
			//showSyncLoader();

			$.ajax({
				method: 'POST',
				url: 'https://api.novaposhta.ua/v2.0/json/',
				//url: 'http://testapi.novaposhta.ua/v2.0/json/Address/getAreas',
				contentType: 'application/x-www-form-urlencoded',
				//dataType: 'json',
				data: JSON.stringify({
					"apiKey": "65735c8e4e1a69ad5403d2a82c687c0d",
					"modelName": "Address",
					"calledMethod": "getAreas"
				}),
				success: function (response) {
					console.log(response);
				}
			});

			/*$.ajax({
				url: '{{ urlSync }}',
				data: {

				},
				success: function (response) {
					console.log(response);
				}
			})*/
			//unlockSyncButton();
			//hideSyncLoader();
		});
		//endregion

		//region Auxiliary functions
		/**
		 * Lock synchronize button
		 */
		function lockSyncButton() {
			data.isBlockSync = true;

			baseComponent.elementRef
				.find('#ego-btn-sync')
				.addClass('disabled');
		}

		/**
		 * Unlock synchronize button
		 */
		function unlockSyncButton() {
			data.isBlockSync = false;

			baseComponent.elementRef
				.find('#ego-btn-sync')
				.removeClass('disabled');
		}

		/**
		 * Show synchronize loader
		 */
		function showSyncLoader() {
			baseComponent.elementRef
				.find('#ego-btn-sync')
				.closest('.form-group')
				.find('.ego-loader')
				.removeClass('hide');
		}

		/**
		 * Hide synchronize loader
		 */
		function hideSyncLoader() {
			baseComponent.elementRef
				.find('#ego-btn-sync')
				.closest('.form-group')
				.find('.ego-loader')
				.addClass('hide');
		}

		//endregion
	});
</script>

{{ footer }}
